blinker
certifi
charset-normalizer
click
exceptiongroup
Flask
Flask-Cors
greenlet
idna
importlib_metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
playwright
pluggy
pyee
pytest
pytest-base-url
pytest-playwright
python-slugify
python-dotenv
requests
text-unidecode
tomli
typing_extensions
urllib3
Werkzeug
zipp
